@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
}

header {
	background-color: white;
	min-height: 75px;
}


div.wrapper {
	background-color: yellow;
	margin: 20px;
}

div#main-text {
	background-color: none;
}

div#sub-text {
	background-color: none;
}


.logos:after {
	float: left;
	column-width: 50%;
	padding: 0px;
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#pwc-logo {
	display: block;
	float: left;
	padding: 10px;
	color: #9b9b9d;
}

#google-logo {
	display: block;
	float: left;
	padding: 10px
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section#splash {
	background-image: url("../images/main-hero.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	padding: 10px;
}
section#splash div {
	padding: 10em 20 0 30em;
	width:1200px;
}

section#why {
	background-color: #FFE2B8;

}

#why {
	background-color: #FFB7CF;
	border: 1px black solid;
    padding: 20px;
}

#left {
	background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
	background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}


section#solutions {
	background-color: #FFE2B8;
}

section#contact {
	background-color: #FFE2B8;
}


nav {
	background-color: #E8C66A;
	font-family: Arial, sans-serif;
}

a {
	display: block;
	padding: 10px;
	float: right;

}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	padding:1em;
}


h2 {
	background: green;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	color: white;
	padding:1em;
}

h3 {
	font-family: Times, serif;
	padding:2em;
}
