@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
}

header {
	background-color: white;
	min-height: 100px;
	padding: 0em 0em 1.7em 0em;
}


.wrapper {
	max-width:75em;
	margin:auto;
}

div#main-text {
	background-color: none;
	padding: 2em 40em 1.7em 5em;
}

div#sub-text {
	background-color: none;
	padding: 0em 2em 2em 3em;
	max-width: 700px;
}

div#boxes {
	padding: 0em 0em 0em 0em;
}


div.solutions {
	background-color: #b3b3b3;
	float: left;
	width: 23%;
	min-height: 24em;
	padding: 2em;
	margin: 0% 2% 5% 0%;
}


#logo {
	display: block;
	float: left;
	padding: 10px;
	color: #9b9b9d;
	padding: 1em 0em 1.7em 5em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section#splash {
	background-image: url("../images/main-hero.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:65vh;
	padding: 10px;
}
section#splash div {
	padding: 10em 20 0 30em;
	width:1200px;
}

section#why {
	background-color: #FFE2B8;
	background-image: url("../images/why-this-matters.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:75vh;
	padding: 0px;

}

section#contact {
	background-color: #FFE2B8;
	background-image: url("../images/contact-us.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
}


#why {
	background: rgba(255,255,255,0.7)
}


#right {
	background-color: #FFFFFF;
    padding: 2.5em 2.5em 3em 3em;
    margin: 4em 3em 2em 3em;
    float: right;   
    width: 37%;
    opacity: 0.9;
}

#left {
	background-color: #b3b3b3;
	margin: 4em 3em 2em 0em;
	padding: 2.5em 2.5em 3em 3em;
	width: 40%;
	height: 80%;
	float: left;
	opacity: 0.9;
}

section#solutions {
	background-color: #37373b;
}


nav {
	font-family: Arial, sans-serif;
	float: right;
	padding: 3em 1em 1em 1em;
}
a {
	display: block;
	padding: 10px;
	float: right;

}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.6em;
	font-weight: 600;
	margin: .2em 0em .5em 0em;
}


h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: white;
	background-color: #37373b;
	padding: 1.5em 1.5em 1.5em 3em;
	opacity: .9;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em; 
	font-weight: 400;
	margin: 0em 0em 1em 0em;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
	color: #382e8a;
	margin: 0em 0em .8em 0em;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	font-weight: 600;
	margin: 0em 0em .4em 0em;
}


p {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	margin: 0em 0em 1em 0em;
}

.icon {
	margin: 0em 0em .8em 0em;

}